<main class="container">
    <h2>Plataformas</h2>
<a (click)="novo()" class="btn btn-primary">Novo</a>
    <table class="table">
        <thead>
            <tr>
                <th>Plataforma</th>
                <th>Opções</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let umaPlataforma of listaPlataformas">
                <td>{{umaPlataforma.nome}}</td>
            <td>
  <button 
      (click)="alterar(umaPlataforma)"
  class="btn btn-secondary">Alterar</button>
  <button 
      (click)="abrirConfirmacao(umaPlataforma)"
  class="btn btn-danger">Excluir</button>
</td>
            </tr>
        </tbody>
    </table>
    <button class="voltar-menu" (click)="voltarMenu()">🏠 Voltar ao menu</button>

</main>

<div class="modal fade" #myModal tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Excluir plataforma</h5>
            </div>
            <div class="modal-body">
            Confirma a exclusão da plataforma?
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="fecharConfirmacao()">Cancelar</button>
            <button type="button" class="btn btn-primary" (click)="confirmarExclusao()">Sim</button>
            </div>
        </div>
    </div>
</div>
