<main class="container">
    <h2>Avaliações</h2>
    <a (click)="novo()" class="btn btn-primary">Novo</a>
    <table class="table">
        <thead>
            <tr>
                <th>Nota</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let umaAvaliacao of listaAvaliacoes">
                <td>{{umaAvaliacao.nota}}</td>
                <td><a (click)="alterar(umaAvaliacao)" 
                    class="btn btn-secondary">Alterar</a></td>
            </tr>
        </tbody>
    </table>
</main>
