<main class="container">
    <h2>Categorias</h2>
    <a (click)="novo()" class="btn btn-primary">Novo</a>
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Opções</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let umaCategoria of listaCategorias">
                <td>{{umaCategoria.nome}}</td>
                <td><a (click)="alterar(umaCategoria)" 
                    class="btn btn-secondary">Alterar</a>
                    <button 
                        (click)="abrirConfirmacao(umaCategoria)"
                    class="btn btn-danger">Excluir</button>
                </td>
            </tr>
        </tbody>
    </table>
    <button class="voltar-menu" (click)="voltarMenu()">🏠 Voltar ao menu</button>

</main>

<div class="modal fade" #myModal tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Excluir categoria</h5>
            </div>
            <div class="modal-body">
            Confirma a exclusão da categoria?
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="fecharConfirmacao()">Cancelar</button>
            <button type="button" class="btn btn-primary" (click)="confirmarExclusao()">Sim</button>
            </div>
        </div>
    </div>
</div>
