<main class="container">
    <h2>Resenhas</h2>
<a (click)="novo()" class="btn btn-primary">Novo</a>
    <table class="table">
        <thead>
            <tr>
                <th>Resenha</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let umaResenha of listaResenhas">
                <td>{{umaResenha.conteudo}}</td>
                <td><a (click)="alterar(umaResenha)" 
                    class="btn btn-secondary">Alterar</a></td>
            </tr>
        </tbody>
    </table>
</main>