<main class="container">
    <h2>Jogos</h2>
<a (click)="novo()" class="btn btn-primary">Novo</a>
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Data de Lançamento</th>
                <th>Plataformas</th>
                <th>Categorias</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let umJogo of listaJogos">
                <td>{{umJogo.nome}}</td>
                <td>{{umJogo.descricao}}</td>
                <td>{{umJogo.dataLancamento | date: 'dd/MM/yyyy'}}</td>
                <td>
                    <span *ngFor="let p of umJogo.plataformas; let i = index">
                        {{ p.nome }}<span *ngIf="i < umJogo.plataformas.length - 1">, </span>
                    </span>
                </td>
                <td>
                    <span *ngFor="let c of umJogo.categorias; let i = index">
                        {{ c.nome }}<span *ngIf="i < umJogo.categorias.length - 1">, </span>
                    </span>
                </td>
                 <td><a (click)="alterar(umJogo)" 
                    class="btn btn-secondary">Alterar</a>
                  <button 
                    (click)="abrirConfirmacao(umJogo)"
                     class="btn btn-danger">Excluir</button>
                </td>
            </tr>
        </tbody>
    </table>
    <button class="voltar-menu" (click)="voltarMenu()">🏠 Voltar ao menu</button>

</main>

<div class="modal fade" #myModal tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Excluir Jogo</h5>
            </div>
            <div class="modal-body">
            Confirma a exclusão do jogo?
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="fecharConfirmacao()">Cancelar</button>
            <button type="button" class="btn btn-primary" (click)="confirmarExclusao()">Sim</button>
            </div>
        </div>
    </div>
</div>


