<main class="container">
    <h2>Colecoes</h2>
<a (click)="novo()" class="btn btn-primary">Novo</a>
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let umaColecao of listaColecoes">
                <td>{{umaColecao.nome}}</td>
                <td><a (click)="alterar(umaColecao)" 
                    class="btn btn-secondary">Alterar</a></td>
            </tr>
        </tbody>
    </table>
</main>