<main class="container my-4">

  <h2 class="mb-4">Jogo</h2>

  <div class="card">
    <div class="card-body">


      <div class="mb-3">
        <label for="txtNome" class="form-label">Nome</label>
        <input
          type="text"
          id="txtNome"
          class="form-control"
          [(ngModel)]="jogo.nome"
        >
      </div>


      <div class="mb-3">
        <label for="txtDescricao" class="form-label">Descrição</label>
        <textarea
          id="txtDescricao"
          class="form-control"
          rows="3"
          [(ngModel)]="jogo.descricao"
        ></textarea>
      </div>


      <div class="mb-3">
        <label for="txtData" class="form-label">Data de Lançamento</label>
        <input
          type="date"
          id="txtData"
          class="form-control"
          [(ngModel)]="jogo.dataLancamento"
        >
      </div>

  
      <div class="mb-3">
        <label class="form-label">Plataformas</label>
        <select
          class="form-select"
          multiple
          [(ngModel)]="jogo.plataformas"
          [compareWith]="comparaPlataformas"
        >
          <option *ngFor="let p of listaPlataformas" [ngValue]="p">
            {{ p.nome }}
          </option>
        </select>
      </div>

 
      <div class="mb-3">
        <label class="form-label">Categorias</label>
        <select
          class="form-select"
          multiple
          [(ngModel)]="jogo.categorias"
          [compareWith]="comparaCategorias"
        >
          <option *ngFor="let c of listaCategorias" [ngValue]="c">
            {{ c.nome }}
          </option>
        </select>
      </div>

    </div>

    <div class="card-footer text-end">
      <button class="btn btn-primary" (click)="salvar()">
        Salvar
      </button>
    </div>

  </div>

</main>
